DB=demo
PORT=demo

JWT_SECRET=demo
JWT_SECRET_EXPIRY=demo


CLOUDINARY_CLOUD_NAME=demo
CLOUDINARY_API_KEY=demo
CLOUDINARY_API_SECRET=demo


EMAIL_USER=demo
CLIENT_ID=demo
CLIENT_SECRET=demo
REFRESH_TOKEN=demo